{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-use-before-define": 0,
    "semi": [2, "never"],
    "import/no-unresolved": [2, { ignore: ['electron'] }],
    "react/prefer-stateless-function": 0,
  }
}
