os: osx
osx_image: xcode10
language: node_js
node_js: 10

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/Library/Caches/electron
    - $HOME/Library/Caches/electron-builder

script:
  - yarn test
  - yarn release

branches:
  only:
    - master
